[submodule "rust"]
	path = rust
	url = https://github.com/RWTH-OS/rust.git
	branch = master
[submodule "crate/rlibc"]
	path = crates/rlibc
	url = https://github.com/RWTH-OS/rlibc.git
[submodule "crates/multiboot"]
	path = crates/multiboot
	url = https://github.com/gz/rust-multiboot.git
[submodule "crates/x86"]
	path = crates/x86
	url = https://github.com/RWTH-OS/rust-x86.git
