[package]
name = "eduos-rs"
version = "0.1.0"
license = "MIT/Apache-2.0"
authors = ["Stefan Lankes <slankes@eonerc.rwth-aachen.de>"]


[dependencies]
spin = "0.5.2"	# Spinlocks.

[target.'cfg(target_arch = "x86_64")'.dependencies.bootloader]
version = "0.8.*"
default-features = false
optional = true

[target.'cfg(target_arch = "x86_64")'.dependencies.x86]
version = "0.28.*"
default-features = false

[features]
default = ["bootloader"]

[package.metadata.cargo-xbuild]
memcpy = true

[package.metadata.bootimage]
default-target = "x86_64-eduos.json" # This target is used if no `--target` is passed
# The command invoked on `bootimage run`
# (the "{}" will be replaced with the path to the bootable disk image)
run-command = ["qemu-system-x86_64", "-display", "none", "-smp", "1", "-device", "isa-debug-exit,iobase=0xf4,iosize=0x04", "-serial", "stdio", "-drive", "format=raw,file={}"]
# Additional arguments passed to the run command for non-test executables
# Applies to `bootimage run` and `bootimage runner`
run-args = []

# The development profile, used for `cargo build`.
[profile.dev]
opt-level = 0      # controls the `--opt-level` the compiler builds with
debug = true       # controls whether the compiler passes `-C debuginfo`
                   # a value of `true` is equivalent to `2`
rpath = false      # controls whether the compiler passes `-C rpath`
lto = false        # controls `-C lto` for binaries and staticlibs
debug-assertions = true # controls whether debug assertions are enabled
codegen-units = 1  # controls whether the compiler passes `-C codegen-units`
                   # `codegen-units` is ignored when `lto = true`

# The release profile, used for `cargo build --release`.
[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
